* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

img {
  width: 250px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);

  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}

.modal-open {
  opacity: 1;
  z-index: 100;
}

.modal-content {
  width: 75%;
  height: 80vh;
  background-color: white;
  position: relative;
  transform: scale(0.25);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content-open {
  transform: scale(1);
}
